@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/GothamPro-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../resources/fonts/GothamPro-Bold.woff") format("woff");
  font-display: swap;
}